<h1>I am regular sized person wondering how to describe myself🤔🤔🤔</h1>

<p>These are the things that generally comes to my mind whenever somebody asks me to describe myself.</p>

<ul>
    <li>Tall</li>
    <li>Complexion: dusky</li>
    <li>Like to study; often irrelevant things than what's supposed to</li>
    <li>Love whistling to the tune of every song i hear</li>
    <li>Interest in computers developed when I got introduced with Linux</li>
    <li>Learning some niche skill, currently juggling</li>
    <li>Honest, sincere</li>
    <li>Social life: Nil battey sanatta</li>
    <li>when nobody's around I...</li>
    <li>repeatedly watch movies or play computer games that I like at the first time, there's no count to it</li>
    <li>would prefer to be kept alone but around people at the same time who keep me engaged with my normal self; i don't really know how that's even possible</li>
    <li>like to watch cartoons; miss those at the same time i watched growing up😔.</li>
    <li>try to attempt things other's can't or won't, just to satisfy the other guy.</li>
    <li>conversing with people; in my head obviously</li>
    <li>waiting to meet someone who'd understand what my contradicting statements mean</li>
    <li>wish to earn enough to pay for breaking any eggs and to not worry financially at least in case of life-threatening health issues</li>
    <li>definitely would do some parkour, skydiving, bear-grylls style trekking, at some point of time without breaking any part of me probably😄.</li>
    <li>have a cozy relationship with a pet of some kind(dogs, monkey-look-alikes)</li>
    <li>*if u are around me don't let me go near the edge which is high from the ground. The other guy has this weird thought that he would survive a heroic jump on his feet. You have been warned.</li>
</ul>